*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-family: 'Montserrat', sans-serif;
}

header{
background-color: #303030
}
.box-header{
    display: flex;
    justify-content: space-around;
align-items: center;
}
.box-header img{
    width: 15vw;
}
header ul {
    list-style: none;
     text-align: center;
}
header ul li {
     display: inline-block;
     margin: 35px 15px 30px 10px;
     font-family: 'Montserrat', sans-serif;
     color: white;
 }
header ul li a{
     text-decoration: none;
     color: white;
     font-size: 1.5em;
     font-weight: 200;
 }
 header h1{
     text-align: center;
     padding: 30px 0;
     color: white;
     font-weight: 200;
 }

 .p1 p{
     width: 80%;
    display: block;
    margin: 30px auto;
 }

.p2{
    background-color: white;
}
.color{
    background-color: #303030;
    width: 80%;
    display: block;
    margin: 0 auto;
} 
.p2-box{
     display: grid;
     grid-template-columns: 50% 50%;
     justify-content: center;
     align-items: center;
    padding: 30px 0;
    }
 
 .p2-item p{
    color: white;
    font-weight: 400;
    margin: 30px 0;
    
 }
 .p2-item img{
 
 }

 .p3-box{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
   }

.p3-item p{
   color: white;
   font-weight: 400;
   color: black;
   margin: 30px 0;
   
}
.p3-item img{
    width: 25vw;
}
.p3-p{
    text-align: right;
}
.p3-box-2{
    display: grid;
    grid-template-columns: 37% 37%;
    justify-content: center;
    grid-gap:50px;
    align-items: center;
    padding: 30px 0;
   }

.p3-item-2 p{
   color: white;
   font-weight: 400;
   color: black;
   margin: 30px 0;
   
}
.p3-item-2 img{
    width: 25vw;

}
.p3 h1{
    text-align: center;
    padding: 30px 0;
}

.contact{
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.c-item h3{
    font-size: 2em;

    margin: 30px 0;
    text-align: center;
    color: white;
}
.c-item p{
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
    color: white;
}
.c-item img{
    width: 2vw;
    margin: 0 10px;
}
.c-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content: center;
}
form .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content:  center;
    width: 100%;  
    display: block;
    margin: 0 auto;
}
.input-fields input, .msg textarea{
    margin: 10px 0;
    background:transparent;
    border:0;
    border-bottom: 2px solid white;
    padding:10px;
    color: white;
    width:100%;
    justify-content: center;
    align-items: center;
}
.msg textarea{
    height: 80px;
    width: 100%;
}
.input-fields button{
    background-color: white;
    color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    width: 38%;
}
.whatsapp a img{
    position: fixed;
    top: 81vh;
    right: 2.5%;
    width: 4vw;
    
}

footer p{
    text-align: center;
    padding: 15px 0;
   
}
footer p a{
    color:#303030;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width:900px){
.box-header{
  
    flex-direction: column;
}
.box-header img{
    width: 35vw;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: .5em;
    font-weight: 200;
    display: block;
    margin: 0 auto;
}
.color{
    width: 100%;
}
.p2-box, .p3-box, .p3-box-2{
    grid-template-columns: 100%;
}
.p3-box{
    margin: 0;
}
.p2-item img{
    width: 50vw;
    display: block;
    margin: 20px auto;
}
}
.p2-item p, .p3-item-2, .p3-item{
    width: 80%;
    display: block;
    margin: 30px auto;
}
.p3-item img, .p3-item-2 img{
    width: 40vw;
    display: block;
    margin: 20px auto;
}
iframe{
    width: 100%;
}
}