*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-family: 'Montserrat', sans-serif;
}
main h1{
    font-family: 'Cinzel', serif;
}

header{
background: url(/building.jpg);
background-repeat: no-repeat;
background-size: 100vw 70vh;
height: 70vh;
}

.box-header{
    display: flex;
    justify-content: space-around;
align-items: center;
background-color: black;
}
.box-header img{
    width: 12vw;
}
header ul {
    list-style: none;
     text-align: center;
}
header ul li {
     display: inline-block;
     margin: 15px 10px 15px 0px;
     font-family: 'Montserrat', sans-serif;
     color: white;
 }
 header ul li:nth-child(2){
 }
header ul li a{
     text-decoration: none;
     color: white;
     font-size: 1.2em;
     font-weight: 500;
 }
 header h1{
     text-align: center;
     padding: 30px 0;
     color: white;
     font-weight: 400;
     font-family: 'Cinzel', serif;
    font-weight: 700;
 }


 label #sign-one,  label #sign-two{
     font-size: 1em;
    color: white;
     float: right;
     margin-right: 30px;
     cursor: pointer;
     display: none;
     z-index: 13;
 }
 #res-menu{
     display: none;
 }
 .fa-bars{
    display: flex;
    align-items: center;
    }

.p1 h1{
text-align: center;
padding-top: 20px;
}    

 .p1 p{
     width: 80%;
    display: block;
    margin: 30px auto;
    text-align: justify;
 }
.p1 .line{
    width: 20%;
}
.p2{
    background-color: white;
}
.color{
  
    width: 100%;
    display: block;
    margin: 0 auto;
} 
.p2-box{
     display: grid;
     grid-template-columns: 50% 50%;
     justify-content: center;
     align-items: center;
    background-color: #303030;
    }
 
 .p2-item p{
    color: white;
    font-weight: 100;
    margin: 30px 0;
    align-self: center;
    text-align: justify; width: 90%;
    font-weight: 400;
 }
 .p2-item img{
     width: 40vw;
     height: 62vh;
}

.area-box{
    display: grid;
    grid-template-columns: 55% 45%;
    justify-content: center;
    align-items: center;
}
.area-item{
    border-radius:2px;
}
.area-item p{
    font-weight: 400;
    margin: 10px 0;
    width: 80%;
    font-size: 1.2em;
    font-weight: 400;
 }
 .area h3{
    font-family: 'Cinzel', serif;
    font-size:1.6em;
    margin-bottom: 30px;
}

 .area-item img{
    width: 45vw; 
    height: 80vh;
     border-top-left-radius:20px;
     border-bottom-left-radius:20px ;
     display: flex;
     align-items: flex-start;
}
.shadow-3{
    width: 90%;
    display: block;
    margin: 80px auto;
    box-shadow: 0 0 10px grey;
    border-radius:20px;
}
.area h1{
    text-align: center;
    padding-top: 30px;
    font-family: 'Cinzel', serif;
    font-weight: 600;
}

.area .line{
    padding-bottom: 30px;
    width: 5%;
}

.id-box{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
}

 .shadow, .shadow-2{
     width: 80%;
     display: block;
     margin: 30px auto;
     box-shadow: 0 0 10px grey;
     border-radius:20px;
     
 }
 .line{
     border-bottom:2px solid black ;
     width: 10%;
     display: block;
     margin: 0 auto;
 }

 .p3-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
.p3-item p{
   color: white;
   font-weight: 400;
   color: black;
   display: block;
   margin: 10px auto;
   width: 80%; 
   text-align: cnter;
}
.p3-item img{
    height: 45vh;
}

.p3-item  h3, .p3-item-2  h3{
    margin: 20px 0;
    text-align: center;
}

.p3-box-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

.p3-item-2 p{
    color: white;
    font-weight: 400;
    color: black;
    display: block;
    margin: 10px auto;
    width: 80%;  
   
}
.p3-item-2 img{
    display: block;
    margin: 0 auto;
    height: 45vh;
}

.p3 h1{
    text-align: center;
    padding: 30px 0;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

section a{
    text-decoration: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: black;
    width: 100%;
    font-weight: 600;
}
section p{
    overflow: hidden;
    max-height: 0em;
    padding:0;
    margin: 0;
    text-align: justify;
}
section:target p{
 max-height: 20em;
padding: 10px;
}




.contact{
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.c-item h3{
    font-size: 2em;

    margin: 30px 0;
    text-align: center;
    color: white;
    font-family: 'Cinzel', serif;

}
.c-item p{
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
    color: white;
    text-decoration: none;
}
.c-item img{
    width: 2vw;
    margin: 0 10px;
}
.c-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content: center;
}
form .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content:  center;
    width: 100%;  
    display: block;
    margin: 0 auto;
}
.input-fields input, .msg textarea{
    margin: 10px 0;
    background:transparent;
    border:0;
    border-bottom: 2px solid white;
    padding:10px;
    color: white;
    width:100%;
    justify-content: center;
    align-items: center;
}
.msg textarea{
    height: 80px;
    width: 100%;
}
.input-fields button{
    background-color: white;
    color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    width: 38%;
}
.whatsapp a img{
    position: fixed;
    top: 81vh;
    right: 2.5%;
    width: 5vw;
    
}
.social-box{
    display: flex;
    justify-content: space-around;
}
.social img{
    width: 2vw;
}
iframe{
    margin-top: 20px;
}
footer p{
    text-align: center;
    padding: 15px 0;
   
}
footer p a{
    color:#303030;
    text-decoration: none;
    text-align: center;
}
 .text-p3{
    text-align: center;
}

@media screen and (max-width:800px){

header h1{
    font-size: 1.8em;
    text-align: center;
}

.box-header{
    background-color:black;
  align-content: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 11vh;
}
.box-header img{
    width: 25vw;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 200;
    display: block;
    margin: 0 auto;
}
label #sign-one{
    display: block;
}
nav ul{
    position: fixed;
    width: 100%;
    height: 40vh;
    background-color: #030303;
    top:50px;
    left:-100%;
    text-align: center;
    transition: .5s;
    z-index: 10;
    margin-top: 20px;
}
nav ul li{
    display: block;
    margin: 40px 0;
    line-height: 10px;
}

label #sign-one,  label #sign-two{
    position: fixed;
    z-index: 11;
}
#res-menu:checked ~ ul{
    left: 0;
}
#res-menu:checked ~ #sign-one{
    display: none;
}
#res-menu:checked ~ #sign-two{
    display: block;
}

header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.color{
    width: 100%;
}
.p1-box{
    flex-direction: column;
}
.p1 h1{
    font-size: 1.7em;
}
.p2-box, .p3-box, .p3-box-2{
    grid-template-columns: 100%;
}
.id-box{
    grid-template-columns: 90%;
}

.shadow, .shadow-2{
    width: 100%;
}
.p3-box{
    margin: 0;
    flex-direction: column;
}
.p3-box-2{
    flex-direction: column;
}
.p2-item img{
    width: 100vw;
    height: 50vh;
    display: block;
    margin: 0px auto;
    margin-bottom: 20px ;
}
.shadow-3{
    width: 90%;
}
.area-box{
    grid-template-columns: 90%;
}
.area-item img{
    width: 100%;
    height: 50vh;
    border-bottom-left-radius: 0px;
    border-top-right-radius:20px ;
}
.area-item p{
    display: block;
    margin: 20px auto;
    width:90%;
}
.area-item h3, .area-item h4{
    text-align: center;
    margin-top: 20px;
}
.area h3{
    font-size: 1.5em;
}
.p2-item p{
    width: 80%;
    display: block;
    margin: 10px auto;
}
.p3-item h3, .p3-item-2 h3{
    text-align: center;
    width: 60%;
    display: block;
    margin: 20px auto;
}
.p3-item p, .p3-item-2 p{
}
.mude{
    width: 60vw;
    display: block;
    margin: 00px auto;
}
.change{
    width: 80%;
    background-color: white;
}
.c-item iframe{
    width: 80vw;
    margin-top: 20px;
}
section a{
}
section p{
    text-align: justify;
}
.whatsapp a img{
    position: fixed;
    top: 80vh;
    right: 5.5%;
    width: 12vw;
}
.social img{
    width: 10vw;
}
}
.area p{
    text-align: justify;
}